<h1>Belajar Framework Angular</h1>
<div class="menu">
  <div routerLink="/one-component" routerLinkActive="active">Component</div>
  <div routerLinkActive="active" routerLink="/two-component-lifecycle">Component LifeCycle</div>
  <div routerLinkActive="active" routerLink="/three-view-encapsulation">View Encapsulation</div>
  <div routerLinkActive="active" routerLink="/four-component-interaction">Component Interaction</div>
  <div routerLinkActive="active" routerLink="/five-component-styles">Component Styles</div>
  <div routerLinkActive="active" routerLink="/six-templates"> Templates</div>
  <div routerLinkActive="active" routerLink="/seven-directive"> Directive</div>
  <div routerLinkActive="active" routerLink="/eight-DI"> Dependency Injection</div>
  <div routerLinkActive="active" routerLink="/nine-routing-navigation">Routing & Navigation</div>
  <div routerLinkActive="active" routerLink="/ten-forms">Forms</div>
  <div routerLinkActive="active" routerLink="/eleven-http">HTTP</div>
</div>
<hr>
<router-outlet></router-outlet>